
@font-face {
	font-family:Roboto-Regular;
	font-display: auto;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family:Roboto-Medium;
	font-display: auto;
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family:Roboto-Bold;
	font-display: auto;
	src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family:Roboto-Black;
	font-display: auto;
	src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
	font-family:Nunito-SemiBold;
	font-display: auto;
	src: url('../fonts/Nunito-SemiBold.ttf');
}
@font-face {
	font-family:Nunito-Regular;
	font-display: auto;
	src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
	font-family:Nunito-ExtraBold;
	font-display: auto;
	src: url('../fonts/Nunito-ExtraBold.ttf');
}

* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

/*Animacion de carga*/

.body-load{
      padding:0;
      margin:0;
      width:100%;
      height:100vh;
      background: linear-gradient(177deg, rgba(0,30,92,1) 0%, rgba(82,67,162,1) 100%);
      overflow: hidden;
}
.wrapper{
      width:200px;
      height:60px;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
  }
  .circle{
      width:20px;
      height:20px;
      position: absolute;
      border-radius: 50%;
      background-color: #fff;
      left:15%;
      transform-origin: 50%;
      animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle{
      0%{
          top:60px;
          height:5px;
          border-radius: 50px 50px 25px 25px;
          transform: scaleX(1.7);
      }
      40%{
          height:20px;
          border-radius: 50%;
          transform: scaleX(1);
      }
      100%{
          top:0%;
      }
  }
  .circle:nth-child(2){
      left:45%;
      animation-delay: .2s;
  }
  .circle:nth-child(3){
      left:auto;
      right:15%;
      animation-delay: .3s;
  }
  .shadow-circle{
      width:20px;
      height:4px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top:62px;
      transform-origin: 50%;
      z-index: -1;
      left:15%;
      filter: blur(1px);
      animation: shadow-circle .5s alternate infinite ease;
  }
  
  @keyframes shadow-circle{
      0%{
          transform: scaleX(1.5);
      }
      40%{
          transform: scaleX(1);
          opacity: .7;
      }
      100%{
          transform: scaleX(.2);
          opacity: .4;
      }
  }
  .shadow-circle:nth-child(4){
      left: 45%;
      animation-delay: .2s
  }
  .shadow-circle:nth-child(5){
      left:auto;
      right:15%;
      animation-delay: .3s;
  }
  .wrapper span{
      position: absolute;
      top:75px;
      font-family: 'Roboto-Medium', Lato;
      font-size: 20px;
      letter-spacing: 12px;
      color: #fff;
      left:15%;
  }

/*Animacion de carga*/

.auth__alert-error{
      color: red;
      text-align: center;
}
.auth__main{
      overflow-x: hidden;
}
body {
      margin: 0;
}

.body_form{
      align-items: center;
      background: rgb(0,30,92);
      background: linear-gradient(177deg, rgba(0,30,92,1) 0%, rgba(82,67,162,1) 100%); 
      display: flex;
      justify-content: center;
      margin: 0px;
      min-height: 100vh;
      width: 100vw;
      padding:20px;
}

.form_login{
      background-color: #001e5c;
      box-shadow: 0px 3px #363636;
      border-radius: 2px;
      width: 540px;
      color:#fff;
      font-family: 'Roboto-Regular';
      border-radius: 10px;      
      -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.5);
      overflow: hidden;
}
.body_form .auth__title{
      font-family: 'Roboto-Black', 'Arial Narrow Bold';
      text-transform: uppercase;
      font-size: 22px;
}
.logo{
      width: 100%;
      height: 280px;
      align-items: end;
      display: grid;
      text-align: center;
      background: url('../image/bg-form_login.jpg') no-repeat center;
      background-size: cover;
}
.logo p{
      background-color: #001e5cc4;
      padding: 15px 0;
      margin-bottom: 15px;
}
.form_content{
      padding: 15px 30px;
      background: url('../image/bg-form_body.png') center bottom;
      background-size: cover;
}
.form_content a{
      color: #fff;
      text-decoration: none;
}
.form-group{
      margin-bottom: 15px;
}
.icono_usuario,
.icono_contrasena,
.icono_correo{
      width: 40px;
      height: 40px;
      position: relative;
      top: 0px;
      margin-right: 10px;
      position: absolute;
      left: 0;
}
.icono_usuario{      
      background: url('../image/input-usuario.png') no-repeat;
      background-size: contain;      
}
.icono_contrasena{
      background: url('../image/input-contrasena.png') no-repeat;
      background-size: contain;
}
.icono_correo{
      background: url('../image/input-mail.png') no-repeat;
      background-size: contain;
}
.form_modalidad{
      padding: 0 10px;
      display: inline;
}
.auth__social-networks{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}
.btn_login{
      background: #5243a2;
      padding: 5px 25px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50px;
      font-family: 'Roboto-Regular';
      font-size: 18px;
      color: #fff;
      border: 1px solid #5243a2;
      transition: 250ms;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor:pointer;
}
.btn_login:hover, .btn_login:focus {
      background: transparent;
      border-color: #fff;
}
.google-btn{
      background-color: #9a1f4f;
      border: 1px solid #9a1f4f;
      margin-top: 5px;
      width: max-content;
      margin-right: auto;
      margin-left: auto;
      height: 35px;
      transition: box-shadow .3s ease;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 25px;
      border-radius: 30px;
      cursor: pointer;
      font-family: 'Roboto-Medium';
      transition: 250ms;
}
.google-btn:hover, .google-btn:focus{
      background: transparent;
      border-color: #fff;
}
.google-icon-wrapper{
      padding-right: 10px;
}

.google-icon{
      width: 14px;
      height: 14px;
}
.form-control:focus{
      background: transparent;
      box-shadow: none;
      color: #fff;
}
.form-control{
      border-top: none;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      border-color: #9d8fda;
      color:#fff;
      background: transparent;
}
.form-control::placeholder{
      color: #fff;
}
.perfil_input .form-control::placeholder{
      color: #000;
}
.input-group input[type="radio"]{
      margin-top: 6px;
      margin-bottom: 6px;
}
.group{
      padding-left: 50px;
      position: relative;
}
.btn-text{
      margin-bottom: 0;
}
.hd_menu{
      background: #001e5cc4;
      padding: 5px 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
}
.hd_menu .nav-link{
      color: #fff;
      font-family: 'Roboto-Black';
      text-transform: uppercase;
}
.mnu_perfil{
      text-align: center;
}
.img-circle{
      border-radius: 50%;
}
.img-circle:hover button{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.btn-profile{
      color: #fff;
      font-family: 'Roboto-Regular';
      text-decoration: none;
}
.btn-profile:hover,
.btn-profile:focus{
      color: #fff;
      box-shadow: none;
}

.dropdown-toggle::after {
      display: none;
}
.nav-link{
      padding: 5px;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 2px solid transparent;
      transition: 200ms;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active{
      border-bottom: 2px solid #fff;
      border-radius: 0;
}
.navbar-light .navbar-toggler{
      background: #fff;
}
.navbar-light .navbar-nav .nav-link{
      color:#fff;
      text-align: center;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
      color: #fff;
}
.navbar-toggler:focus{
      box-shadow: none;
}
.titulo_principal{
      padding-top: 105px;
      padding-bottom: 20px;
      background:  url('../image/rombo_titulo-principal.png') no-repeat 10% center, url('../image/rombo_titulo-principal.png') no-repeat 90% center, #767676;
      background-attachment: scroll, scroll, scroll;
      color: #fff;
      border-bottom: 6px solid #796dbc;
      position: relative;
      font-family: 'Roboto-Black';
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
}
.img_perfil{
      clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      max-width: 120px;
      overflow: hidden;
      text-align: center;
}
.datos_cuenta{
      background: url('../image/bg-gris.jpg') repeat-x center  -75px;
}
.contenido{
      font-family: 'Nunito-Regular';
      font-size: 18px;
      background: url('../image/bg_contenido-1.png') no-repeat left bottom, url('../image/bg_contenido-2.png') no-repeat right 200px;
}
.contenido h2{
      font-family: 'Nunito-SemiBold';
      color: black;
}
.contenido h2 strong{
      font-weight: normal;
      color: #544690;
}
.hd_input input{
      background: transparent;
      border:none;
      color: #796dbc;
      font-size: 30px;
      font-family: 'Nunito-ExtraBold';
      outline: none;
      transition: 250ms;
      border-bottom: 2px solid #544690;
}
.hd_input .form-control:focus{
      color: #796dbc;
      border-color: #796dbc;
}
.hd_input .form-control:disabled{
      background-color: transparent;
      color: #000;
	border-bottom: 2px solid transparent;
	
}
.btn-edit{
      color: #544690;
      border-bottom: 1px solid #544690;
      border-radius: 0;
      padding: 0;
      position: relative;
      margin-left: 32px;
}
.btn-edit:hover{
      color: #544690;
}
.ico-editar{
      position: absolute;
      background: url('../image/ico_editar.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 115%;
      background-size: contain;
      top:3px;
}
.ico-guardar{
      position: absolute;
      background: url('../image/ico_guardar.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 115%;
      background-size: contain;
      top:3px;
}
.ico-recargar{
      position: absolute;
      background: url('../image/ico_recargar.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 103%;
      background-size: contain;
      top:3px;
}
.ico-video{
      position: absolute;
      background: url('../image/ico_video.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 103%;
      background-size: contain;
      top:3px;
}
.ico-documento{
      position: absolute;
      background: url('../image/ico_pdf.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 103%;
      background-size: contain;
      top:3px;
}
.ico-favoritos{
      position: absolute;
      background: url('../image/ico_favoritos.png') no-repeat center;
      width: 20px;
      height: 20px;
      right: 0;
      background-size: contain;
}
.form-control:disabled, .form-control:read-only{
      background-color: transparent;
      color: #000;
}
.perfil_input .form-control{
      color: #544690;
	border-bottom: 2px solid #544690;
	font-family: 'Nunito-SemiBold';
	font-size: 18px;
}
.perfil_input .form-control:disabled{
      background-color: transparent;
      color: #000;
	border-bottom: 2px solid transparent;
	
}
.perfil_input{
	font-family: 'Nunito-SemiBold';
	font-size: 18px;
}
.perfil_input label{
	color: #544690;
}
.perfil_input .btn_login{
	border:1px solid #5243a2;
}
.perfil_input .btn_login:focus,
.perfil_input .btn_login:hover{
	color: #5243a2;
}
.label-radio{
	color: #000 !important;
}
.btn-azul{
      background: #001e5c;
      border: 1px solid #001e5c;
      color: #fff;
      border-radius: 50px;
      padding: 5px 25px;
      width: 270px;
      font-family: 'Roboto-Regular';
      font-size: 18px;
      transition: 250ms;
}
.btn-azul:hover,
.btn-azul:focus{
      background: transparent;
      color: #001e5c;
}
.test_resultados{
      width: max-content;
}
.evaluacion td{
      background: url('../image/bg_resultados.png') no-repeat center;
      background-size: contain;
}
.planes{
      font-size: 20px;
}
.planes ul{
      padding-left: 0;
}
.planes ul li{
      list-style: none;
      background: url('../image/bullet_planes.png') no-repeat left top;
      padding-left: 35px;
      padding-bottom: 6px;
      margin-bottom: 8px;
      border-bottom: 1.5px solid #6b6b6b;
}
.planes .card-header{
      background-color: #5243a2;
}
.planes .card-body,
.planes .card-footer{
      background: #ededed;
}
.planes .card-footer{
      border-top: none;
      padding-bottom: 20px;
}
.planes .card-header h2{
      color: #fff;
      margin-bottom: 0; 
      font-weight: 600;   
}
.planes .card-body h3{
      font-family: 'Roboto-Bold';
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 40px;
}
.input_search{
      position: relative;
      max-width: 300px;
      margin-left: auto;
}
.input_search input{
      padding-right: 30px;
}
.input_search input,
.input_search input:focus{
      color: #796dbc;
}
.input_search input::placeholder{
      color: #767676;
}
.input_search::after{
      position: absolute;
      right: 1rem;
      top: .4rem;
      display: flex;
      align-items: center;
      height: 1.5rem;
      content: url('../image/ico-search.png');
}
.job_img{
      position: absolute;
      right: -25px;
      max-width: 60px;
      max-height: 60px;
      overflow: hidden;
}
.salario{
      background: #1d5ad9;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 50%,  calc(100% - 10px) 100%, 10px 100%, 0% 50%);
      padding: 3px 15px;
      min-width: 82px;
}
.btn_ver_oferta{
      background: #001e5c;
      color: #fff;
      border: 1px solid #001e5c;
      border-radius: 25px;
      padding: 5px 20px;
      transition: 200ms;
      font-weight: 600;
}
.btn_ver_oferta:hover{
      background: #fff;
      color: #001e5c;
}
.empresa_logo{
      padding-right: 70px;
}
.job_offers .card::before{
      top: 0;
      left: 0;
      width: 4px;
      bottom: 0;
      content: "";
      position: absolute;
      background-color: #001e5c;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
}
.job_offers h5{
      padding-right: 65px;
}
.oferta_aplicar{
      position: fixed;
      width: 350px;
}
.oferta_imagen{
      clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      max-width: 130px;
      max-height: 130px;
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
}
.agregar_fav{
      position: relative;
      color: #d63384;
      padding-right: 25px;
      padding-top: 0;
      padding-bottom: 2px;
      border-radius: 0;
}
.agregar_fav:hover{
      color: #d63384;
      border-bottom: 1px solid #d63384;
}
.btn-aplicar:hover,
.btn-aplicar:focus{
      border-color: #5243a2;
      color: #5243a2;
      box-shadow: none;
}
.nav-job{
      background: transparent;
      color: #5243a2;
      border: 1px solid #5243a2;
      margin: 5px 10px;
      padding: 4px 10px;
      border-radius: 25px;
      width: 205px;
}
.nav-job.active{
      background: #5243a2;
      color: #fff;
}
.favoritos .nav-job{
      min-width: 240px;
}
.btn-borrar{
      background: #cf0045;
      color: #fff;
      border: 1px solid #cf0045;
      border-radius: 25px;
      padding: 5px 20px;
      transition: 200ms;
      font-weight: 600;
}
.btn-borrar:hover,
.btn-borrar:focus{
      background: #fff;
      color: #cf0045;
      box-shadow: none;
}
.aparece{
      animation: 500ms ease-in-out 200ms normal both 1 running fadeIn;
}


@media(max-width:1200px){
      .oferta_aplicar{
            width: 300px;
      }
      .navbar-expand-lg .navbar-nav .nav-link{
            padding: 5px 0;
      }
}
@media(max-width:991px){
      .menu_logo{
            display: none;
      }
      .navbar-nav{
            margin-top: 15px;
      }
      .oferta_aplicar{
            position: relative;
            width: auto;
            margin-bottom: 30px;
      }
}
@media(max-width:575px){
      .titulo_principal{
            padding-top: 170px;
            background:  url('../image/rombo_titulo-principal.png') no-repeat -10% bottom, url('../image/rombo_titulo-principal.png') no-repeat 110% bottom, #767676;
      }
}